@model AspDotNetMvcWithEfCrudFromEmptyTemplate.Models.LoginModel
@{
    ViewBag.Title = "Login";
}

<h2>Login</h2>

@Html.ValidationSummary(true)

@using (Html.BeginForm())
{
    @Html.EditorForModel()
    <br/>
    <p>
        <button type="submit">Log In</button>
    </p>

    <h1>@Model.EmailId</h1>
    <h1>@Model.Password</h1>
}

